.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
  align-items: center;
}

.link {
  line-height: 1em;
  height: 1em;
  text-decoration: none;
  color: #1890ff;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.1);
  }
  & + .link {
    margin-left: 0.5em;
    &:before {
      content: '|';
      padding-right: 0.5em;
      color: #888;
    }
  }
}
